@import url(./normalize.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244, 244, 244);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

i {
  font-style: normal;
}